div{

     height: 200px;
    width: 200px;
    background-color: darkblue;
    display: inline-block;
    margin-left: 300px;
    margin-top: 50px;
    position: relative;

}



.circle::before {

    content: "";
position: absolute;
width: 50px;
height: 50px;
  background-color: darkblue;
left: 75px;
top: -30px;
clip-path: circle(50% at 50% 50%);


}

.triangle::before{

    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left: 75px;
    top: -30px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

h2{
    text-align: center;
}